.content {
  padding: 48px;
}

.redirectContentInner {
  margin: 0 auto;
  max-width: 600px;
  padding: 0 20px;
}

.codeArea {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  padding: 4px;
}

.details {
  padding-top: 16px;
}